.alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textField{
    width: 100%;
    margin: 10px 0px !important;
}

.divAlignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin-top: 20px; */
}