.buttonClass{
    background-color: #184748 !important; /* Green */
    border-radius: 30px !important;
    border: solid 1px #344d4b !important;
    color: white !important;
    padding: 5px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
}
.buttonClass:hover{
    background-color: #4cafa5 !important; 
    
}