.classB1{
    color: #ffffff !important;
    /* font-size: 20px!important; */
    font-weight: bold !important;
    text-align: center !important;
    /* margin: 10px !important; */
    padding: 10px !important;
    border: solid 1px #344d4b !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    background-color: #4cacaf !important;
}

.classActiveB1{
    color: #ffffff !important;
    /* font-size: 20px!important; */
    font-weight: bold !important;
    text-align: center !important;
    /* margin: 10px !important; */
    padding: 10px !important;
    border: solid 1px #344d4b !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    background-color: #5caf4c !important;
}


.classB2{
    color: #ffffff !important;
    /* font-size: 20px!important; */
    font-weight: bold !important;
    text-align: center !important;
    /* margin: 10px !important; */
    padding: 10px !important;
    border: solid 1px #344d4b !important;
    background-color: #4cacaf !important;
}

.classActiveB2{
    color: #ffffff !important;
    /* font-size: 20px!important; */
    font-weight: bold !important;
    text-align: center !important;
    /* margin: 10px !important; */
    padding: 10px !important;
    border: solid 1px #344d4b !important;
    background-color: #5caf4c !important;
}

.classB3{
    color: #ffffff !important;
    /* font-size: 20px!important; */
    font-weight: bold !important;
    text-align: center !important;
    /* margin: 10px !important; */
    padding: 10px !important;
    border: solid 1px #344d4b !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background-color: #4cacaf !important;
}
.classActiveB3{
    color: #ffffff !important;
    /* font-size: 20px!important; */
    font-weight: bold !important;
    text-align: center !important;
    /* margin: 10px !important; */
    padding: 10px !important;
    border: solid 1px #344d4b !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background-color: #5caf4c !important;
}

.classContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : auto
    /* width: 100%; */
}